/* Add your football-themed CSS styles here */

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .result-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .score-info {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .result-text {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .try-again-btn {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #071d54; /* Color for Try Again button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .try-again-btn:hover {
    background-color: #0b7dda;
  }
  